* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 16px;
    background-color: #e2e7ec;
}

.element {
    width: 600px;
    height: 375px;
    margin: 20px auto;
    background:
        url('../img/img1.png') no-repeat,
        url('../img/img2.png') no-repeat,
        url('../img/img3.jpg') no-repeat
    ;
    background-size: 300px, 150px, auto;
    background-position: 200px 200px, 50px 100px, center;
    background-position: right 50px bottom 5px, left 10px bottom 135px, center;
}

.element2{
    width: 600px;
    height: 375px;
    margin: 20px auto;
    background: #fff url('../img/img1.png');
    background-size: 250px;
    background-repeat: repeat;
    background-repeat: space;
}